<%#= error_messages_for 'order'%>
<p><em>Your order is being displayed in the shopping cart to the right</em></p>
<%= form_tag("place_order", method: "post",:id=>"checkout") do %>
<fieldset>
  <legend>Contact Information</legend>
  <p>
  <label for="order_email">Email</label></br>
  <%=text_field :order,:email%>
  </p>
  <p>
   <label for="order_phone_number">Phonr Number</label></br>
  <%=text_field :order,:phone_number%>
  </p>

</fieldset>
<fieldset>
  <legend>Shipping Address</legend>
  <p>
  <label for="order_ship_to_first_name">First Name</label></br>
  <%=text_field :order,:ship_to_first_name%>
  </p>
  <p>
   <label for="order_ship_to_last_name">Last Name</label></br>
  <%=text_field :order,:ship_to_last_name%>
  </p>
 <p>
   <label for="order_ship_to_address">Address</label></br>
  <%=text_field :order,:ship_to_address%>
  </p>
   <p>
   <label for="order_ship_to_city">City</label></br>
  <%=text_field :order,:ship_to_city%>
  </p>
   <p>
   <label for="order_ship_to_postal_code">Postal Code</label></br>
  <%=text_field :order,:ship_to_postal_code%>
  </p>
   <p>
   <label for="order_ship_to_country">Country</label></br>
  <%#=country_select(:order,:ship_to_country,:priority_countries=['United States'])%>       
  <%=country_select("order", "ship_to_country", :priority_countries=>['United States'])%>
 
  </p>
</fieldset>
<fieldset>
  <legend>Billing Information</legend>
  <p>
  <label for="order_card_type">Credit card type</label></br>
  <!-- <select name="order[card_type]" id="order_card_type"> -->
  <%#= option_for_select(['Visa','Master Card','Discover'],@order.card_type)%>
  <%= select_tag "order[card_type]", options_for_select(['Visa','Master Card','Discover'],@order.card_type)%>

  <!-- </select> -->
  </p>
  <p>
  <label for="order_card_expiration_month">Expiration Date</label></br>
  <!-- <select name="order[card_expiration_month]">
  <%#= option_for_select(%w(1 2 3 4 5 6 7 8 9 10 11 12),@order.card_expiration_month)%>
  </select> -->
    <%= select_tag "order[card_expiration_month]", options_for_select(%w(1 2 3 4 5 6 7 8 9 10 11 12),@order.card_expiration_month)%>
  </p>
  <!-- <select name="order[card_expiration_year]" > -->
  <%#= option_for_select(['Visa','Master Card','Discover'],@order.card_expiration_year)%>
  <!-- </select> -->
  <%= select_tag "order[card_expiration_year]", options_for_select(%w(2009 2010 2011 2012 2013 2014 2015 2016),@order.card_expiration_year)%>
  </p>
  <p>
  <label for="order_card_number">Card Number</label></br>
 <%= text_field :order,:card_number%>
  </p>
  <label for="order_card_verification_value">
<abbr title="Card Verification Value">CVV</abbr>
<abbr title="Card Validation Check">CVC</abbr>
  </label></br>
   <%= text_field :order,:card_verification_value%>

</fieldset>           
  <p>
  <%=submit_tag 'Place Order'%>
  </p>
<%end%>